@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
    font-family: "Poppins", sans-serif;
}

.image-filter {
    filter: brightness(50%);
}

.ready-section {
    background-color: #289bde;
}

.register {
    color: #25a2eb;
}